body {
  background-color: #eaeaea;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/*----------------------------------------*/
.user_name{
 color:#d9534f;
 font-family: 'LatoLight', Arial, serif;
 padding-top:18px;
 font-weight: 900;
 font-size: 13px;
}
 /*copyright*/
.made_by{
  font-family: 'Lato', Arial, serif;
  font-weight: 600;
  font-size: 13px;

}

.user_div{
  padding:5px 0 0 5px;
  margin: 5px; 
  width: 225px;
  height: 45px;
  background-color: #CCC9C9;
  border-radius: 5px;
 
}
.user_div :last-child {
  padding: 0;
  margin: 0;
}

.user_div span {
  color: #777;
}

.blue{
  color:#3071a9;
}
 
.textbloquot {
  width: 565px;
  height: 370px;
  overflow: auto;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

 /*buttons reposts*/
.btnlike{
  margin-left: 450px;
  margin-top: -25px;
  padding: 0;
  position: absolute;
  z-index: 100;
}

.news{
  margin-left: 700px;
  position: absolute;
}

.btn_create_post{
 margin: 10px;
}